<div id="root">
    <div class="App">
        <div id="menu">
            <div id="title">
                <a href="./index.html">BUDGET WEB</a>
            </div>

            <nav>
                <div id="gridCont">
                    <a href="./index.html" class="selected navBtn">Home</a>
                    <a href="./pages/get_budget.html" class="navBtn">Get Budget</a>
                    <a href="./pages/about.html" class="navBtn">About</a>
                    <a href="./pages/feedback.html" class="navBtn">Feedback</a>
                    <a href="./index.html" id="loginButton" class="navBtn">LOGIN/SIGN</a>
                </div>
            </nav>
        </div>

        <hr>

        <div id="bigCont">
            <div id="cont">
                <div id="main">
                    <p id="homeText">
                        
                    </p>
                </div>
            </div>

            Register

            <form action="/register" method="POST">
                Name
                <input type="text" name="name">
                Username
                <input type="text" name="username">
                Email
                <input type="email" name="email">
                Password
                <input type="password" name="password">
                <input type="submit" value="Register">
            </form>

            <hr>

            Login

            <form action="/login" method="POST">
                Username or Email
                <input type="text" name="username">
                Password
                <input type="password" name="password">
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>